.responsive-image {
    width: 100%;
    height: auto;
    max-width: 1000px; /* 이미지 최대 너비 지정 */
  }
  
  @media (max-width: 768px) {
    .responsive-image {
      max-width: 500px; /* 화면 너비가 768px 이하인 경우 이미지 최대 너비를 500px로 조정 */
    }
  }
  #cen_img {
    display:block;
    margin:auto;
}
div{position: absolute;
   left: 50%;
   top:50%;
   transform: translate(-50%, -50%);
   font-size: 100px;
}